@model HumptyDumptyPlaySchool.Models.AddressModel

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/commanscript.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<div style="border:2px solid;width:80%;margin-left:150px;">*@
    @*<div class="col-md-8 col-md-offset-2">*@
    <div class="form-horizontal">
        <h4>Address Details</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Address1, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group" >
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.DisplayNameFor(model => model.Address2)*@
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Address2, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">

                @Html.DropDownListFor(model => Model.CountryName, ViewBag.CountryName as List<SelectListItem>, "--Select--", htmlAttributes: new { @class = "dropdown" })
            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })    
            </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("State", new SelectList(string.Empty, "value", "text"), "--Select State--",  htmlAttributes: new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => model.StateName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">


            @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("City", new SelectList(string.Empty, "value", "text"), "--Select City--", htmlAttributes: new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Zipcode, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
            </div>
        </div>




    </div>
@*</div>*@
@*</div>*@
<script>
    //$(document).ready(function () {


        @*function GetCountry()
        {
            $('#Country').empty();

            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetCountries")',
                dataType: 'json',
                data: { countryid: $(this).val() },
                success: function (country) {
                    debugger;
                    $.each(state, function (index, state) {
                        $('#Country').append('<option value="' + country.Value + '">' + country.Text + '</option>');
                    });
                },

                error: function (ex) {
                    alert(ex.statusText.toString());
                }

            });

        }*@


    $('#CountryName').change(function () {
            $('#State').empty();
            $('#City').empty();

            //fillDropdown(document.getElementById("State"), '@Url.Action("getState")', $(this).val())
        fillDropdown($('#State'), '@Url.Action("getState")', document.getElementById('CountryName').value);
           @*$.ajax({
                type:'Post',
                url:'@Url.Action("getState")',
                dataType:'json',
                data : {countryid:$(this).val()},
                success:function(state){
                    debugger;
                    $.each(state, function (index, state) {
                        $('#State').append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    });
                },

                error: function(ex)
                {
                    alert(ex.statusText.toString());
                }

            });*@
        });

        $('#State').change(function () {
          //  alert($(this).val());
            //debugger;
            $('#City').empty();

            fillDropdown($('#City'), '@Url.Action("getCity")', document.getElementById('State').value);
            @*$.ajax({
                type: 'Post',
                url: '@Url.Action("getCity")',
                dataType: 'json',
                data: { stateid: $(this).val() },

                success: function(City){
                    $.each(City, function (index,City) {
                        $('#City').append('<option value="' + City.Value + '">' + City.Text + '</option>');
                    });
                },
                error: function( ex)
                {
                    alert(ex.statusText.toString());
                }
            });*@
        });


    //});

</script>
